APP_ENV=local
INFRA_SERVICE=MAIN
DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=this_is_an_example_use_a_proper_key_in_production
DATABASE_URL=postgres://postgres:postgres@postgres/postgres
IDENTITY_REDIS_URL=redis://redis:6379
IDENTITY_REDIS=redis://redis:6379
ALLOWED_HOSTS=localhost

DEBUGPY_ENABLED=True

# Vite
VITE_DEV=True
VITE_DEV_SERVER_URL=http://localhost:5173

# Sentry
SENTRY_DSN=

# authbroker config
AUTHBROKER_URL=speak-to-webops-team-for-access
AUTHBROKER_CLIENT_ID=speak-to-webops-team-for-access
AUTHBROKER_CLIENT_SECRET=speak-to-webops-team-for-access
AUTHBROKER_STAFF_SSO_SCOPE=any-additional-scope-values
AUTHBROKER_ANONYMOUS_PATHS=(Tuple/list of paths that should be unprotected)
AUTHBROKER_ANONYMOUS_URL_NAMES=(list of url names that should be unprotected)

MAIN_HAWK_ID=xxx
MAIN_HAWK_KEY=xxx

CLAM_AV_USERNAME=xxx
CLAM_AV_PASSWORD=xxx
CLAM_AV_DOMAIN=xxx


# S3 configs
S3_LOCAL_ENDPOINT_URL=http://localstack:4566
DATA_FLOW_UPLOADS_BUCKET=identity.local
DATA_FLOW_UPLOADS_BUCKET_PATH="data-flow/exports/local-development"
DATA_FLOW_USERS_DIRECTORY="StaffSSOUsersPipeline/"
